body {
  background-color: rgba(241, 239, 239, 0.712);
}

/* --------------- OCULTAR CONTRASEÑA --------------- */
#password {
  -webkit-text-security: disc;
}
#passwordModificar {
  -webkit-text-security: disc;
}
/* --------------------------------------------------- */

/* --------------- NAV --------------- */
/* NAVEGACIÓN */

.nav-main ul {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.nav-main ul li a:hover {
  color: black;
  border-bottom: 1px black solid;
}

.nav-main ul li {
  padding: 30px;
  list-style: none;
}
.nav-main ul li a {
  text-decoration: none;
  font-family: "Overpass", sans-serif;
}

/* ID BACKBROUND */
#index {
  background-color: #a0a0a0;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
#alquilar {
  background-color: #a0a0a0;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
#registro {
  background-color: #a0a0a0;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
#borrar {
  background-color: #a0a0a0;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
#sesion {
  background-color: #a0a0a0;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
/* ----------------------------------- */

/* --------------- IMAGEN NAV + TEXTO --------------- */
.showcase {
  height: 500px;
  width: auto;
  background: url("./img/fotobanner.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  font-size: 30px;
  color: #a0a0a0;
}

/* ----------------------------------- */

/* --------------- NUESTROS COCHES --------------- */
#listaCoche {
  font-family: "Overpass", sans-serif;
  font-size: 20px;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/* ----------------------------------- */

/* --------------- CARDS PAGINA INDEX --------------- */
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.card {
  display: grid;
  width: 300px;
  margin-top: 50px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card-image {
  grid-area: image;
}
.card-image img {
  width: 280px;
  height: 230px;
  padding-top: 15px;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: #a0a0a0;
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 30px;
  font-size: 28px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  color: white;
}

#link {
  text-decoration: none;
  color: white;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
/* ----------------------------------- */

/* --------------- CARDS PAGINA BUSCAR --------------- */

#form {
  font-family: "Overpass", sans-serif;
  font-size: 17px;
  color: #a0a0a0;
  background-color: white;
  border-radius: 3px;
  font-size: 0.8em;
  padding: 20px;
  margin: 0 auto;
  width: 300px;
  display: grid;
}

.input {
  border: 70px;
  outline: none;
  width: 280px;
}

#botonEnviar {
  font-family: "Overpass", sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

.input::placeholder {
  color: #d4d1d1;
  font-style: italic;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 500px;
  margin-top: 50px;
}

#form h1 {
  text-align: center;
}

#borrarCuadrado{
  display: flex;
  margin-left: 50%;
}
/* ----------------------------------- */
